h1{
    color: blue;
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
nav{
    text-align: center;
}
#d01{
    font-size: x-large;
}
#d02{
    font-size: x-large;
}
#d03{
    font-size: x-large;
}
h2{
    color: blue;
    text-align: center;
}
#cuadro{
    background-color: rgba(0, 68, 255, 0.63);
    display: block;
    margin: auto;
    width: 500px;
    height: 300px;
}
p{
    text-align: center;
}
